body {font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;}
    
img {width: 100%}

input {background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 20%;}

header {background-color: rgb(204, 204, 204);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;}  

h1  {margin: 0;}

main {margin: 20px;}

ul  {list-style:none;
    padding: 0;}

li  {margin-bottom: 10px;
    width: 50%}

a   {display: block;
    background-color: #0073e6;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;}

a:hover {background-color: #0050a6;}

footer {color: rgb(70, 70, 66);}

#description-box{
    position: fixed;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 200px;}

.hidden {display: none;}






