body {font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;}
    
img {width: 100%}

input {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 20%;
}
/* Estilos para el menú */
.menu {
    width: 200px; /* Ancho del menú */
    height: 100%; /* Altura del menú que ocupa toda la página */
    background-color: #333; /* Color de fondo del menú */
    position: fixed; /* Fijar el menú en su lugar */
    top: 0;
    left: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 5px 0;
    width: 80%;
    padding: 1%;
}

.menu a {
    color: #fff; /* Color del texto del menú */
    text-decoration: none;
    display: block;
    width: 80%;
    padding: 10%;
    text-align: center; /* Centrar el texto verticalmente en el menú */
}

.menu a:hover {
    background-color: #555; /* Cambiar color de fondo al pasar el ratón por encima */
    
}
.menu img#logo {
    padding: 10%;
    display: block;
    margin: 0 auto; /* Centrar horizontalmente el logo */
    width: 150px; /* Ancho del logo */
    height: auto;}
/* Estilos para el contenido principal */
.menu hr {
    border: none;
    border-top: 2px solid rgb(204, 204, 204); /* Color y estilo de la línea que separa el logo de PACI en el menú*/
    margin: 20px 0;
    width: 70% ;

    
 } /* Espacio antes y después de la línea */
.main-content {
    width: 80%;
    margin-left: 200px; /* Ajustar el margen izquierdo para dar espacio al menú */
    padding: 0px ;
}

#menua:hover {background-color: #161616;}/*en esta parte se modifica el color del menu cuando el cursor pasa por encima*/
#menua {
    display: block;
    background-color: #55676e;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    padding: 10px;
    border-radius: 5px;}

#menub {display: block;
        background-color: #161616;
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        font-weight: 100;
        padding: 10px;
        border-radius: 5px;}
#menub:hover {background-color: #ee831d;
    color: #000000;}
/* Evitar que el contenido principal se solape con la barra de navegación */
body {
    padding-left: 200px; /* Añade espacio al lado izquierdo del cuerpo para el menú */
}

header {background-color: rgb(204, 204, 204);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;}  

h1  {margin: 0;}

main {margin: 20px;}

ul  {list-style:none;
    padding: 0;}

li  {margin-bottom: 10px;
        width: 100%}
    /* Estilo para el icono de PDF */
ul li img {
    width: 40%; /* Tamaño del icono */
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  
a   {display: block;
    height: 100%;
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;}

a:hover {background-color: #868686;}

footer {color: rgb(70, 70, 66);}

#description-box{ /*espacio de la caja de descripción que aparece al seleccionar el archivo*/
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 200px;}

.hidden {display: none;}

table {
    margin-top: 20px;
    border-radius: 1px;
    width: 50%;

}

tr {
    margin-bottom: 80px;
    }
td {
    
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    margin-bottom: 20px;
    
}
.column1 {
    margin-bottom: 20px;
    width: 70%; /* Porcentaje del ancho de la tabla */
    
}
.column2 {
    text-align: center;
    margin-bottom: 80px;
    width: 30%; /* Porcentaje del ancho de la tabla */
}

iframe {
    
    width: 270px;  /* Establecer el ancho al 30% del contenedor padre */
    height: 150px; /* Establecer el alto al 20% del contenedor padre */
}

.video-container {
    margin: 10px; /* Ajusta el valor del margen según tu preferencia */
    border: none !important;
    
}

/* Establece un margen entre las celdas (td) */
.td-videos {
    margin-right: 10px; /* Ajusta el valor del margen horizontal según tus necesidades */
    margin-bottom: 10px; /* Ajusta el valor del margen vertical según tus necesidades */
}

/* Alinea el contenido de las celdas al centro horizontal y verticalmente */
.td-videos iframe {

    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Establece un fondo o un borde en las celdas para resaltarlas */
.td-videos {
    background-color: rgb(204, 204, 204); /* Cambia el color de fondo si lo deseas */
    padding: 10px; /* Ajusta el espaciado interno según tus necesidades */
}


#document-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
}

#document-list li {
    text-align: center;
    font-size: small;
}

#document-list li a {
    display: block;
    text-decoration: none;
    color: black;
    width: 85%;
    height: 90%; /* Ajusta la altura según tus necesidades */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#document-list li img {
    margin-bottom: 10%;
}

.slider-container {
    border-radius: 25;
    padding-top: 50px;
    overflow: hidden;
    width: 50%;
    margin: auto;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}