<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Configuración para documentos predeterminados -->
        <defaultDocument>
            <files>
                <add value="inicio.html" />
            </files>
        </defaultDocument>

        <!-- Configuración para la caché de archivos estáticos (cada 12 horas) -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.12:00:00" />
        </staticContent>
    </system.webServer>
</configuration>